a{ 
    text-decoration:none;  
    margin: 0 1rem;
    transition: transform 250ms;
}

.facebook  {
    text-decoration:none;  
    margin: 0 1rem;
    transition: transform 250ms;
    color: #4968ad;
}
  
a.instagram {
    text-decoration:none;  
    margin: 0 1rem;
    transition: transform 250ms;
    
}